<package-def>
    <class name="ЗапросОтправки" file="src/Классы/ЗапросОтправки.os"/>
    <class name="ДубМессенджера" file="src/Классы/ДубМессенджера.os"/>
    <class name="СервисОтправки" file="src/Классы/СервисОтправки.os"/>
    <class name="КонтролОтправки" file="src/Классы/КонтролОтправки.os"/>
</package-def>
